html, body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background: linear-gradient(0deg, #38aaaf, #232E50);
  background-size: 200% 200%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
	
@-webkit-keyframes AnimationName {
    0%{background-position:50% 10%}
    50%{background-position:50% 100%}
    100%{background-position:50% 10%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 10%}
    50%{background-position:50% 100%}
    100%{background-position:50% 10%}
}
@keyframes AnimationName { 
    0%{background-position:50% 10%}
    50%{background-position:50% 100%}
    100%{background-position:50% 10%}
}

#iceberg{
  position: fixed;
  top: 70%;
  width: 100%;
  height: 100px;
}