.cloud {
  position: fixed;
  background-image: url(../media/cloud.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  transition: transform 5s;
  width: 25%;
  height: 15%;
  opacity: .8;
}
#cloud1 {
  top: 11%;
  left: 30%;
}
#cloud2 { 
  top: 18%;
  left: 50%;
}
#cloud3 {
  top: 13%;
  left: 40%;
}
#cloud4 {
  top: 10%;
  left: 90%;
}
#cloud5 {
  top: 22%;
  left: 60%;
}