.cloud {
  position: fixed;
  background-image: url(../media/cloud.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  transition: transform 5s;
  width: 25%;
  height: 15%;
  opacity: .8;
}
#cloud1 {
  top: 11%;
}
#cloud2 { 
  top: 18%;
}
#cloud3 {
  top: 13%;
  background-image: url(../media/cloud2.svg);
  width: 20%;
  height: 10%;
}
#cloud4 {
  top: 10%;
}
#cloud5 {
  top: 22%;
  background-image: url(../media/cloud2.svg);
  width: 20%;
  height: 10%;
}