.cloud {
  position: fixed;
  background-image: url(../media/cloud.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  width: 25%;
  height: 15%;
  opacity: .8;
}
#cloud1 {
  top: 25%;
}
#cloud2 { 
  top: 37%;
}
#cloud3 {
  top: 13%;
}
#cloud4 {
  top: 23%;
  background-image: url(../media/cloud2.svg);
  width: 14%;
  height: 10%;
}
#cloud5 {
  top: 12%;
}
#cloud6 {
  top: 36%;
  background-image: url(../media/cloud2.svg);
  width: 14%;
  height: 10%;
}
#cloud7 {
  top: 41%;
  background-image: url(../media/cloud2.svg);
  width: 14%;
  height: 10%;
}