#moon1 {
  position: fixed;
  background-image: url(../media/moon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  transition: transform 5s;
  width: 5.7%;
  height: 10%;
  top: 15%;
  left: 10%;
}
#moon2 {
  position: fixed;
  background-image: url(../media/crescent.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  transition: transform 5s;
  width: 2.7%;
  height: 10%;
  top: 15%;
  left: 80%;
}
#link1 {
  position: fixed;
  background-image: url(../media/moon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  transition: all 3s;
  width: 5.7%;
  height: 10%;
  top: 15%;
  left: 10%;
  opacity: 0;
}
#link2 {
  position: fixed;
  background-image: url(../media/crescent.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  transition: all 3s;
  width: 2.7%;
  height: 10%;
  top: 15%;
  left: 80%;
  opacity: 0;
}
#link1:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 9px #FFFFFF);
}
#link2:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 9px #FFFFFF);
}